:root {
  --font-logo: "Momo Trust Display", sans-serif;
  
  --primary-color: '#69247C'; /*purple*/
  --secondary-color: '#DA498D'; /*pink*/
}

.font-logo{
    font-family: var(--font-logo);
}

#active-sidebar-btn{
  background-color: rgba(218, 73, 141, 0.3);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}

/* REMOVE ARROW IN INPUT - TYPE "number" */
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;

}



